body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
}


.button input {
    font-size: 34px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-inline: 10px;
    border: 2px solid #414BB2;
    background-color: #414BB2;
    border-radius: 4px;
    transition: background-color .3s;
    color: white;
    padding: 20px;
}
.button input:hover {
    background-color: white;
    color: #414BB2;
}
.logo img{
    height: 100%;
}
.right {
    display: flex;
    align-items: center;
}
.right div a{
    font-size: 34px;
    text-decoration: none;
    text-align: center;
}
.right img {
    height: 100%;
}
.email {
    font-size: 34px;
    text-decoration: none;
    text-align: center;
    margin-inline: 10px;
}

.navigation {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation div {
    padding: 20px;
    margin: 10px;
}

.navigation a {
    font-size: 34px;
    text-decoration: none;
    text-align: center;
}

/*
flexbox froggy
 */

.profilePic {
    height: 98px;
}

.event {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 350px;
}

.Event {
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top p {
    margin: 0;
}

.name {
    max-width: 50%;
}

.middle {
    max-height: 200px;
    overflow-x: auto;
    border: 1px solid #D1D1D1;
    word-break: break-word;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
}

.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inschrijven {
    max-height: 100px;
}
.uitschrijven {
    max-height: 100px;
}
.datum {
    padding-inline: 10px;
    word-break: break-word;
}

.middleSection {
    display: flex;
    justify-content: center;
}

.eventChamber {
    min-width: 100px;
    max-width: 700px;
    background-color: #E6E6E6;
}

.inschrijven a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-inline: 10px;
    border: 2px solid #414BB2;
    background-color: #414BB2;
    border-radius: 4px;
    transition: background-color .3s;
    color: white;
    padding: 20px;
}
.uitschrijven a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-inline: 10px;
    border: 2px solid #dc143c;
    background-color: #dc143c;
    border-radius: 4px;
    transition: background-color .3s;
    color: white;
    padding: 20px;
}

.inschrijven p {
    margin: 0px!important;
}
.uitschrijven p {
    margin: 0px!important;
}

.inschrijven a:hover {
    background-color: white;
    color: #414BB2;
}
.uitschrijven a:hover {
    background-color: white;
    color: #dc143c;
}

.deelnemers {
    word-break: break-all;
}

.underline {
    color: black;
    border-bottom: 2px solid #414BB2;
}


.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.material-icons {
    font-size: 50px;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.back-button a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    font-size: 34px;
    text-decoration: none;
    padding-inline: 10px;
    border: 2px solid #414BB2;
    background-color: #414BB2;
    transition: background-color .3s;
    border-radius: 4px;
    color: white;
    padding: 20px;
    margin: 10px;
}
.back-button a:hover {
    background-color: white;
    color: #414BB2;
}

.data-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data-field input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    text-decoration: none;
    padding-inline: 10px;
    border: 2px solid #414BB2;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
}
.data-field label {
    font-size: 34px;
}
.data-submit {
    margin: 20px;
    display: flex;
    justify-content: center;
}
.data-submit input{
    font-size: 34px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-inline: 10px;
    border: 2px solid #414BB2;
    background-color: #414BB2;
    border-radius: 4px;
    transition: background-color .3s;
    color: white;
    padding: 20px;
}
.data-submit input:hover {
    background-color: white;
    color: #414BB2;
}
.data-submit a{
    font-size: 34px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-inline: 10px;
    border: 2px solid #414BB2;
    background-color: #414BB2;
    border-radius: 4px;
    transition: background-color .3s;
    color: white;
    padding: 20px;
}
.data-submit a:hover {
    background-color: white;
    color: #414BB2;
}
.errors {
    color: red;
    font-size: 34px;
}

.data-error {
    display: flex;
    justify-content: center;
}

#mobile-menu {
    width: 200px;
    font-size: 34px;
    text-align: center;
}

#mobile-menu a {
    text-decoration: none;
}

#mobile-menu div {
    padding-top: 20px;
}

@media only screen and (min-width: 1650px) {
    .mobile {
        display: none!important;
    }
}

@media only screen and (max-width: 1650px) {
    .navigation {
        display: none;
    }
    .logo {
        display: none;
    }
    .event {
        min-width: 350px;
    }
}

@media only screen and (max-width: 800px) {
    .email {
        display: none!important;
    }
}

@media only screen and (max-width: 560px) {
    .top {
        display: initial;
    }
    .event {
        padding-inline: 0;
    }
    .data-field input{
        font-size: 16px;
    }
    .back-button {
        display: flex;
        justify-content: center;
    }
}

.show {
    display: none;
}